/* Base */


@include grid($grid-col-count, $grid-col-width, $grid-gutter-width);

body,
button,
input,
select,
textarea {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    color: $color-text;
}

a {
    color: $color-link;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        color: darken($color-link, 10%);
        text-decoration: underline;
    }
}

::-moz-selection {
    background: $green;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: $green;
    color: #fff;
    text-shadow: none;
}

.browsehappy {
    background-color: $blue;
    color: #fff;
    padding: $line-height-computed;
    width: 100%;
    p {
        margin: 0;
        &.lead {
            margin-bottom: 5px;
        }
    }
    a {
        color: #fff;
        text-decoration: underline;
    }
}