/* Typography */


p {
    margin: 0 0 ($line-height-computed / 2);
    &.lead {
        margin-bottom: $line-height-computed;
        font-size: $font-size * 1.15;
        line-height: 1.4;
    }
}



ul, ol {
    margin: 0 0 ($line-height-computed / 2) $line-height-computed;
    padding: 0;
    ul, ol{
        margin-bottom: 0;
    }
}



small {
    font-size: 80%;
}



h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    line-height: $header-line-height;
    color: $header-color-text;
    text-rendering: optimizeLegibility;
    small {
        font-weight: normal;
        line-height: 1;
        color: lighten($header-color-text, 20%);
    }
    a {
        color: $header-color-link;
    }
}

h1, h2, h3,
.h1, .h2, .h3 {
    margin-top: $line-height-computed;
    margin-bottom: $line-height-computed / 2;
}

h4, h5, h6,
.h4, .h5, .h6 {
    margin-top: $line-height-computed;
    margin-bottom: $line-height-computed / 2;
}

h1, .h1 { font-size: floor($font-size * 2.60); }
h2, .h2 { font-size: floor($font-size * 2.15); }
h3, .h3 { font-size: ceil($font-size * 1.70); }
h4, .h4 { font-size: ceil($font-size * 1.25); }
h5, .h5 { font-size: $font-size; }
h6, .h6 { font-size: ceil($font-size * 0.85); }

