/* Other components stuff */


.clearfix {
    @include clearfix;
}

.pull-left {
    float: left;
    &.img {
        float: left;
        margin-right: 10px;
        margin-bottom: 5px;
    }
}
.pull-right {
    float: right;
    &.img {
        float: right;
        margin-left: 10px;
        margin-bottom: 5px;
    }
}

.font-italic {
    font-style: italic;
}
.font-bold {
    font-weight: bold;
}

.color-blue {
    color: $blue;
}
.color-green {
    color: $green;
}
.color-orange {
    color: $orange;
}
.color-red {
    color: $red;
}
.color-cyan {
    color: $cyan;
}
