/* Other components stuff */

.color-blue {
    color: $blue;
}
.color-green {
    color: $green;
}
.color-orange {
    color: $orange;
}
.color-red {
    color: $red;
}
.color-cyan {
    color: $cyan;
}

.pull-left {
    float: left;
    &.img {
        float: left;
        margin-right: 10px;
        margin-bottom: 5px;
    }
}

.pull-right {
    float: right;
    &.img {
        float: right;
        margin-left: 10px;
        margin-bottom: 5px;
    }
}

.browsehappy {
    background-color: $blue;
    color: #fff;
    padding: $line-height-computed;
    width: 100%;
    p {
        margin: 0;
        &.lead {
            margin-bottom: 5px;
        }
    }
    a {
        color: #fff;
        text-decoration: underline;
    }
}

